.invalid-feedback{
    display: block;
}
.destacado .card {
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* For Safari and older versions of Chrome */
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* For older versions of Firefox */
}
